{% extends 'core/base.html' %}

{% block content %}

<h1 class="mainHeader">MailSift </h1>

<h2 class="subHead">Dashboard</h2>

<p>Welcome Peter Yao, let's sift through some emails, shall we?</p>
<h3>Urgent Tags</h3>
<div class="alert row">
	<div class="rating col-md-2">
		10
	</div>
	<div class="col-md-9">
		<h4>Information Tech.</h4>
		<ul>
			<li>fdasfsdsdf</li>
			<li>fadfadsffd</li>
			<li>fdafdsfas</li>
		</ul>
	</div>
</div>
<div class="alert row">
	<div class="medium col-md-2">
		5
	</div>
	<div class="col-md-9">
		<h4>General Customer Service</h4>
		<ul>
			<li>fdasfsdsdf</li>
			<li>fadfadsffd</li>
			<li>fdafdsfas</li>
		</ul>
	</div>
</div>
<div class="alert row">
	<div class="low col-md-2">
		2
	</div>
	<div class="col-md-9">
		<h4>Product Development</h4>
		<ul>
			<li>fdasfsdsdf</li>
			<li>fadfadsffd</li>
			<li>fdafdsfas</li>
		</ul>
	</div>
</div>
<div class="chart">
	<h3>Frequency of Emails</h3>
	<img src="http://placehold.it/700x300">
</div>
<div class="tone">
	<h3>Consumer Tone</h3>
	<div class="customer-tone row">
		<div class="col-md-2">
			2:31pm
			<br/>
			July 19, 2015
		</div>
		<div class="col-md-10">
  			"the internet is not working!!! WTF. Worst day of my LIFE.  You have no idea what lorem ipsum loltrol magenta palm trees, swaying through the glade"
		</div>
	</div>
	<div class="customer-tone row">
		<div class="col-md-2">
			2:31pm
			<br/>
			July 19, 2015
		</div>
		<div class="col-md-10">
  			"the internet is not working!!! WTF. Worst day of my LIFE.  You have no idea what lorem ipsum loltrol magenta palm trees, swaying through the glade"
		</div>
	</div>
	<div class="customer-tone row">
		<div class="col-md-2">
			2:31pm
			<br/>
			July 19, 2015
		</div>
		<div class="col-md-10">
  			"the internet is not working!!! WTF. Worst day of my LIFE.  You have no idea what lorem ipsum loltrol magenta palm trees, swaying through the glade"
		</div>
	</div>
</div>
{% for email in emailList %}
<div><h3>{{ email.subject }}</h3> - {{ email.message}}</div>
<br/>
{% endfor %}
{% endblock content %}


