{% extends 'core/base.html' %}

{% block content %}
<h1 class="mainHeader">MailSift </h1>
<h2 class="subHead">Dashboard</h2>
<p>Welcome Peter Yao, let's sift through some emails, shall we?</p>
<h3>Urgent Tags</h3>
{% for tag in all_tags %}
<div class="alert row">
	<div class="{% if tag|length < 2 %}low{% else %}rating{% endif %} col-md-2">
		{{tag|length}}
	</div>
	<div class='col-md-9'>
	<h4>#{{tag.0.tag.0}}</h4>
	{% for email in tag %}
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{email.subject}}</h3>
	  </div>
	  <div class="panel-body">
	    {{email.content|safe}}
	  </div>
	</div>
	{% endfor %}
	</div>
</div>
{% endfor %}
{% endblock content %}


